.container-fluid.bg-devise.d-block.w-100
  .row.mt-4
    .col-12.d-flex.mt-4.d-flex.justify-content-center
      .col-4.mt-5
        .card.mt-4.fixed
          .card-body.mt-2
            .card-title
              %h1.guthen.my-2.text-center Registro de usuario
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                =f.fields_for :profile do |profile_form|
                  .field.my-3
                    = profile_form.text_field :name, class: "form-control", placeholder:"nombre"
                  .field.my-3
                    = profile_form.text_field :last_name, class: "form-control",  placeholder: "apellido"
                  .field.my-3
                    = profile_form.text_field :identification, class: "form-control", placeholder: "19292078"
                - if resource.errors.any?
                  %ul
                    - resource.errors.each do |field, message|
                      %li
                        = field.to_s.sub('profile.', '')
                        = message
                .field.mt-4.mb-2
                  = f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "password (minimo #{@minimum_password_length} caracteres)"
                .field.my-3
                  = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "confirma tu clave"
                .field.my-3
                  = f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "email@email.com"
                .actions.field.mt-4.mb-2.text-center.subtitleSignin
                  = f.submit "Registrarme", class: "btn btn-primary"
                .field
                  = render "devise/shared/links"

