= form_for @reservation do |f|
  - if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this apple from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
