%table{id:"table_id", class:"display"}
  %thead
    %tr
      %th Fecha de entrada
      %th Fecha de salida
      %th Nombre
      %th Apellido
      %th Status 
      %th Acciones 


  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.check_in.strftime('%d - %m - %Y')
        %td= reservation.check_out.strftime('%d - %m - %Y')
        %td= User.find(reservation.user_id).profile.name
        %td= User.find(reservation.user_id).profile.last_name
        %td= reservation.status
        %td= link_to 'confirmar', admin_reservation_path(reservation, confirm: "1"), data: {confirm: "¿deseas confirmar esta reservación?"}


