#carousel.carousel.slide{ 'data-ride': 'carousel'}
  %ol.carousel-indicators
    %li.active{'data-slide-to': '0', 'data-target': '#carousel'}
    %li{'data-slide-to': '1', 'data-target': '#carousel'}
    %li{'data-slide-to': '2', 'data-target': '#carousel'}
  .carousel-inner
    .carousel-item.active
      .overlay
      .hero 
        = image_tag "deaza"
      %img.d-block.w-100.h-10{ src: 'https://media-magazine.trivago.com/wp-content/uploads/sites/3/2016/10/10105523/hoteles-jacuzzi-privado-granada-barcelo-la-bobadilla-habitacion.jpg', height: "600px"}/
    .carousel-item
      .overlay
      .hero 
        = image_tag "deaza"
      %img.d-block.w-100{src: 'https://media-magazine.trivago.com/wp-content/uploads/sites/3/2016/10/10104120/hoteles-jacuzzi-privado-ibiza-hard-rock-hotel-suite.jpg', height:"600px"}/
    .carousel-item
      .overlay
      .hero 
        = image_tag "deaza"
      %img.d-block.w-100{src: 'https://media-magazine.trivago.com/wp-content/uploads/sites/3/2016/10/10104112/hoteles-jacuzzi-privado-ibiza-hard-rock-hotel-jacuzzi-terraza.jpg', height:"600px"}/
  %a.carousel-control-prev{'data-slide': 'prev', href: '#carousel'}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.carousel-control-next{'data-slide': 'next', href: 'carousel'}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next

