.row
  .col-1.align-self-center.d-flex
    %a.carousel-control-prev{'data-slide': 'prev', href: '#carousel'}
      %span.carousel-control-prev-icon{'aria-hidden': 'true'}
      %span.sr-only Anterior
      = image_tag 'atras.svg'
  .col-8
    #carousel.carousel.slide{ 'data-ride': 'carousel'}
      %ol.carousel-indicators
        %li.active{'data-slide-to': '0', 'data-target': '#carousel'}
        %li{'data-slide-to': '1', 'data-target': '#carousel'}
        %li{'data-slide-to': '2', 'data-target': '#carousel'}
      .carousel-inner
        .carousel-item.active
          %img.d-block.img-fluid{ src: 'https://media-magazine.trivago.com/wp-content/uploads/sites/3/2016/10/10105523/hoteles-jacuzzi-privado-granada-barcelo-la-bobadilla-habitacion.jpg'}/
        .carousel-item
          %img.d-block.img-fluid{src: 'https://media-magazine.trivago.com/wp-content/uploads/sites/3/2016/10/10104120/hoteles-jacuzzi-privado-ibiza-hard-rock-hotel-suite.jpg' }/
        .carousel-item
          %img.d-block.img-fluid{src: 'https://media-magazine.trivago.com/wp-content/uploads/sites/3/2016/10/10104112/hoteles-jacuzzi-privado-ibiza-hard-rock-hotel-jacuzzi-terraza.jpg' }/
  .col-1.align-self-center.d-flex
    %a.carousel-control-next{'data-slide': 'next', href: 'carousel'}
      %span.carousel-control-next-icon{'aria-hidden': 'false'}
      %span.sr-only Siguiente
      = image_tag 'adelante.svg'
