%nav#try.navbar.navbar-expand-sm.d-flex.justify-content-center.fixed-top.white
  .navbar-nav
    .nav-item.px-2
    %a.nav-link.nav-item{:href => "#1"} Inicio
    .nav-item.px-2
    %a.nav-link.nav-item{:href => "#2"} Nosotros
    .nav-item.px-2
    %a.nav-link.nav-item{:href => "#3"} Habitaciones
    .nav-item.px-2
    %a.nav-link{:href => "#4"} Experiencias
    .nav-item.px-2
    %a.nav-link{:href => "#5"} Servicios
    .nav-item.px-2
    %a.nav-link{:href => "#6"} Contactos
    .nav-item.px-2
    - if current_user != nil 
      %a.nav-link{"data-toggle"=>:dropdown, :href => '#6'} 
        = current_user.profile.name.capitalize
        = current_user.profile.last_name.capitalize 
      .dropdown-menu.dropdown-menu-right
        .dropdown-item
          = link_to "perfil", new_user_session_path, method: "delete"
        .dropdown-item
          = link_to "logout", destroy_user_session_path, method: "delete"
    - else
      .nav-item.px-2
      %a.nav-link.white{:href => "users/sign_up"} Registrate