#fm-nav
  %nav.navbar.navbar-expand-sm.bg-light.d-flex.justify-content-between.fixed-top
    %a{class: "navbar-brand"}
      = image_tag 'Logo.svg', url: 'http://localhost:3000/' , class:'d-inline_block align-block'
    .navbar-nav
      .nav-item
        %a.nav-link.nav-item{:href => "#nosotros"} Nosotros
      .nav-item
        %a.nav-link.nav-item{:href => "#habitaciones"} Habitaciones
      .nav-item
        %a.nav-link.nav-item{:href => "#servicios"} Servicios
      .nav-item
        %a.nav-link.nav-item{:href => "#experiencias"} Experiencias
      .nav-item
        %a.nav-link{:href => "#contactos"} Contactos
      .nav-item
        - if current_user
          %a.nav-link{"data-toggle"=>:dropdown}
            = current_user.profile.name.capitalize
            = current_user.profile.last_name.capitalize
          .dropdown-menu.dropdown-menu-right
            .dropdown-item
              = link_to "perfil", new_user_session_path, method: "delete"
            .dropdown-item
              = link_to "logout", destroy_user_session_path, method: "delete"
        - else
          .nav-item
            %a.nav-link{:href => "users/sign_up"} Registrate

