%nav.navbar.navbar-expand-sm.bg-light.d-flex.justify-content-between.over_navs
  =link_to image_tag('Logo.svg', class:'d-inline_block align-block'), root_path 
  .navbar-nav
    - if current_user == nil || current_user.profile.kind == "usuario" || current_user.profile.kind == "admin"
      - if !current_user.nil?
        - if current_user.profile.kind != "admin" && controller.action_name != "index"
          .nav-item.px-2
            %a.nav-link.nav-item{:href => "#nosotros"} Nosotros
          .nav-item.px-2
            %a.nav-link.nav-item{:href => "#habitaciones"} Habitaciones
          .nav-item.px-2
            %a.nav-link.nav-item{:href => "#servicios"} Servicios
          .nav-item.px-2
            %a.nav-link.nav-item{:href => "#experiencias"} Experiencias
          .nav-item.px-2
            %a.nav-link{:href => "#contactos"} Contactos
          .nav-item.px-2
        - if current_user != nil
          %a.nav-link.color-login{"data-toggle"=>:dropdown} 
            = current_user.profile.name.capitalize
            = current_user.profile.last_name.capitalize
            - if current_user.profile.kind == "admin"
              = image_tag "administrador.svg", width:"40px"
          .dropdown-menu
            .dropdown-item
              = link_to "perfil", new_user_session_path, method: "delete"
            .dropdown-item
              = link_to "logout", destroy_user_session_path, method: "delete"
        - else
          .nav-item.px-2
            %a.nav-link{:href => "users/sign_up"} Registrate  