.justify-content-center
  .col.align-self-center
    %h1.correo.mb-2.text-center
      Newsletter
    .row
      .col-7.mt-4
        .row.justify-content-end
          %form.form{:action => "/action_page.php"}
          .col-7
            %input#email.form-control.m-top{:name => "email", :placeholder => "Enter email", :type => "email"}
        .row.justify-content-end
          .col-6.float-left
            .form-group.form-check.mt-5
              %input.inp-check.form-check-input.text-right{:name => "remember", :type => "checkbox"}/
              .termino Aceptar términos y condiciones
      .col-5.mt-4
        %button.botonSub{:type => "submit", class: "border-0"} Enviar
