.col
  %h1.title.text-center
    Room
  .row.justify-content-center.mt-5
    .col-6.align-self-center.texto2.text-center
      Lorem ipseum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  .row.justify-content-around.mt-5
    .col-3.text-center.roomCustom
      .card-custom.guthen
        .titleServ.p-4
          Room 1
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"} ver más
    .col-3.text-center
      .card-custom.guthen
        .titleServ.p-4
          Room 2
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"} ver más
    .col-3.text-center
      .card-custom.guthen
        .titleServ.p-4
          Room 3
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"} ver más
    .col-3.text-center
      .card-custom.guthen
        .titleServ.p-4
          Room 4
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"} ver más
