%form.form-inline.buscar{action: new_reservation_path, :method => "get", :id => "new_search"}
  %label.ml-5{:for => "nombre"} Fecha de llegada:
  %input.form-control.ml-0.ml-5.bgBlue{:name => "fecha", :type => "date", :id => "fecha"}/
  %label.ml-5{:for => "nombre"} Fecha de salida:
  %input.form-control.ml-0.ml-5{:name => "fecha_final", :type => "date", :id => "fecha_final"}/
  %label.ml-3{:for => "personas"} Personas
  %select#personas.form-control.ml-3{:name => "capacidad"}
    %option{:value => "1"} 1
    %option{:value => "2"} 2
    %option{:value => "3"} 3
    %option{:value => "4"} 4
    %option{:value => "5"} 5
    %option{:value => "6"} 6
    %option{:value => "7"} 7
    %option{:value => "8"} 8
  %input.btn.buscar.ml-5{:name => "submit", :type => "submit", :value => "Buscar", class: "btn_azul"}/