.col.py-5
  %h1.title.text-center
    Servicios
  .row.justify-content-center.mt-5.py-2
    .col-2.text-center.mx-3
      .card-custom.guthen
        .titleServ.p-4
          Room 2
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"}
            %i.fas.fa-wifi
    .col-2.text-center.mx-3
      .card-custom.guthen
        .titleServ.p-4
          Room 2
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"} 
            %i.fas.fa-snowflake
    .col-2.text-center.mx-3
      .card-custom.guthen
        .titleServ.p-4
          Room 2
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"} 
            %i.fas.fa-snowflake         
    .col-2.text-center.mx-3
      .card-custom.guthen
        .titleServ.p-4
          Room 2
        .col-12.p-0.overlapped-buttom
          %a.boton{href: "#"} 
            %i.fas.fa-mobile-alt
