.barra-lateral
  %nav.menu.d-flex.d-sm-block.justify-content-center.flex-wrap
    %a{:href => "http://localhost:3000/admin/profiles"}
      %i.fas.fa-home
      %span Inicio
    %a{:href => "http://localhost:3000/admin/reservations"}
      %i.fas.fa-clipboard-check
      %span Reservas

      
     
      
      
