.col-12.mt-5
  .row
    .col-6.mt-5
      %h1.welcome.text-center.p-4
        ¡Bienvenido!
      .col.text-center
        %p Lorem ipseum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .col-6
      = image_tag 'Ilus.svg', class: "img-fluid"
