.stepwizard
  .stepwizard-row.setup-panel
    .stepwizard-step
      - if controller.action_name == "new"
        %button.btn{ :type => "button", class: "btn_rounded"} 1
        %p.subtileActive Disponibilidad
      - else
        %button.btn{ :type => "button", class: "btn_rounded-disactive"} 1
        %p.subtitleNonA Disponibilidad
    .stepwizard-step
      - if controller.action_name == "edit"
        %button.btn{ :type => "button", class: "btn_rounded"} 2
        %p.subtileActive Registro de datos
      - else
        %button.btn{ :type => "button", class: "btn_rounded-disactive"} 2
        %p.subtitleNonA Registro de datos
    .stepwizard-step
      - if controller.action_name == "show"
        %button.btn{ :type => "button", class: "btn_rounded"} 3
        %p.subtileActive Culminación
      - else
        %button.btn{ :type => "button", class: "btn_rounded-disactive"} 3
        %p.subtitleNonA Culminación
