.container#reservations
  #step-2.container
    .row.mt-5
      .col.mt-5.pt-5
        = render 'shared/wizard.html.haml'
    .row.mt-5.mb-5
      .col-8.mt-5
        = form_for @reservation, :html=> {:id => 'sent'} do |f|
          .card.my-3.card_color_smoke
            .card-body
              .row
                .col-6
                  .field
                    =f.label "codigo de reservacion"
                  .field
                    =f.text_field :id, disabled: true, class: "form-control"
                .col-6
                  .field
                    = label_tag "usuario"
                  .field
                    =f.text_field :id, value: current_user.profile.name, disabled: true, class: "form-control"
                .col-6
                  .field
                    = label_tag "documento"
                  .field
                    =f.text_field :id, value: current_user.profile.identification, disabled: true, class: "form-control"
                .col-6
                  .field
                    = label_tag "correo"
                  .field
                    =f.text_field :id, value: current_user.email, disabled: true, class: "form-control "

                .col-6
                  .field
                    =f.label "fecha de entrada"
                  .field
                    =f.date_field :check_in, disabled: true, class: "form-control"
                .col-6
                  .field
                    =f.label "fecha de salida"
                  .field
                    =f.date_field :check_out , disabled: true, class: "form-control"
                    =f.hidden_field :status, value: 2
          .col
            %ul.nav.nav-pills{role:"tablist"}
              - @reservation.reservations_rooms.each_with_index do |item,x|
                %li.nav-item.btn_reservation
                  %a.nav-link{x==0 ?{class: "active", :style => "color: white"} : {:style => "color: white"}, "data-toggle"=>"tab", href:"#room-#{x}"}
                    habitacion #{x+1}
                    -#  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          .card.mt-4.card_color_smoke
            .card-body
              .tab-content
                = f.fields_for :reservations_rooms do |neste|
                  %div.tab-pane.fade.show{neste.index == 0 ? {class: "in active"} : {} , role:"tabpanel", "aria-labelledby"=>"home-tab", id:"room-#{neste.index}"}
                    .field
                      = neste.label :Nombre
                      = neste.text_field :name, class: "form-control"
                    .field
                      = neste.label :email
                      = neste.email_field :email, class: "form-control"
                    .field
                      = neste.label :telefono
                      = neste.text_field :number_phone, class: "form-control"
                      = neste.hidden_field :room_id
          = f.submit id: "update", class: "d-none", id: "mandar"

      .col-4.mt-3
        .card.card_color_smoke.mt-5
          .card-body
            .card-title.mb-0
              %strong
                Recibo de reserva
            .col.p-0
              Tiempo:
              #chao.d-inline-block
                0:
              #hola.d-inline-block
                00
              #notice
            .col.p-0#list
              %strong habitaciones
              - current_user.reservations.last.rooms.each do |room|
                .col
                  =room.name
            .col.p-0#taxes
              %strong Impuestos
              - current_user.reservations.last.rooms.each do |room|
                .col
                  =room.base_price*10/100
            .col.p-0
              %strong total
            .col
              =current_user.reservations.last.stimated_cost
          .row.text-center
            .col-12.pb-2.mb-2
              <input type="submit" value="continuar" class= "btn btn_reservation" id="form">






