.container.mt-5
  .row.mt-5
    .col.mt-5.pt-5.pb-4
      = render 'shared/wizard.html.haml'
  #step-1.row
    .col-8
      .row
        .resultados
        - if @available.length > 0
          -@available.each_with_index do |room,i|
            .col-12
              .row
                .col-3
                  .name{id:"room#{i}"}
                    =room.name
                .col-9
                  %p Lorem ipsum, dolor sit amet.
              .row
                .col
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, fugiat!
            .card.my-2
              .card_rooms
                .card-body.p-0
                  .col.d-none{id:"id#{i}"}
                    =room.id
                  .col-12.mx-5.my-3
                    =image_tag(url_for(room.images.last))
                  .card-footer.border-success
                    .col-12.p-0
                      .row.justify-content-between.subtitleR
                        .col.l
                          servicio 1
                        .col.lv
                          servicio 2
                        .col.lv
                          servicio 3
                        .col.lv
                          .precio{id:"precio#{i}"}
                            =room.base_price
                            -# -@test << room.id
                        .col.lv
                          %input{id:"#{i}", type: "checkbox", class: "likeRoom"}
        - else
          - if params[:exit] == 1
            .col.mt-5.text-center
              tiempo terminado
          - else
            .col.mt-5.text-center
              tu busqueda no tuvo resultados



    .col-3.mt-5
      .card.card_color_smoke.p-0
        .card-body.p-2.mt-4
          .col
            %form{action: new_reservation_path, :method => "get", :id => "new_search"}
              %label{:for => "nombre"} Fecha de llegada:
              %input.form-control{:name => "fecha", :type => "date", :id => "fecha", :value => params[:fecha]}/
              %label{:for => "nombre"} Fecha de salida:
              %input.form-control{:name => "fecha_final", :type => "date", :id => "fecha_final", :value =>  params[:fecha_final]}/
              %label{:for => "personas"} Personas
              %select#personas.form-control{:name => "capacidad"}
                %option{:value => "1"} 1
                %option{:value => "2"} 2
                %option{:value => "3"} 3
                %option{:value => "4"} 4
                %option{:value => "5"} 5
                %option{:value => "6"} 6
                %option{:value => "7"} 7
                %option{:value => "8"} 8
              .col.field.mt-2.text-center
                %input.btn.btn_reservation{:name => "submit", :type => "submit", :value => "Buscar"}/
          .col
            = form_for @reservation do |f|
              .field
                =f.label "fecha de entrada"
              .field
                =f.date_field :check_in, value: params[:fecha], class: "form-control", readonly: true
              .field
                =f.label "fecha de salida"
              .field
                =f.date_field :check_out , value: params[:fecha_final],class: "form-control", readonly: true
                =f.hidden_field :stimated_cost, id: "stimated"
              = f.fields_for :reservations_rooms do |neste|
                .field
                  = neste.hidden_field :room_id, id: "tokyo2"
              = f.fields_for :reservations_rooms do |neste|
                .field
                  = neste.hidden_field :room_id, id: "deluxe2"
              = f.fields_for :reservations_rooms do |neste|
                .field
                  = neste.hidden_field :room_id, id: "viena2"
              = f.fields_for :reservations_rooms do |neste|
                .field
                  = neste.hidden_field :room_id, id: "caracas2"
                  = hidden_field_tag :aval, @test

              .card-title
                Recibo de reserva
              .card-body
                .row.p-0
                  .col-12.p-0
                    #list
                      %strong
                        Habitaciones
                  .col-12.p-0
                    #taxes
                      %strong
                        Impuestos
                  .col-12.p-0
                    total
                    %input{id: "total", type:"text", name:"total", size:"3", readonly: true, class: "border-0"}
              .col.text-center
                = f.submit :continuar, class: "btn btn_reservation"







