.container.mt-5
  .row.mt-5
    .col.mt-5.pt-5
      = render 'shared/wizard.html.haml'
  #step-3.row.mt-5
    .col.mt-5
      %h1.mt-5.final.text-center Proceso finalizado exitosamente
      %p.text-center Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, non!

