.container-fluid.mt-5.bg-devise.d-block.w-100
  .row.mt-5
    .col-12.d-flex.mt-4.d-flex.justify-content-center
      .col-4.mt-3
        .card.mt-5
          .card-body
            .card-title
              %h1.my-2.guthen.text-center Entrar
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                - if flash.alert
                  #error_explanation
                    %ul
                      %li=flash.alert
                .field.mt-4.mb-3
                  = f.email_field :email, autofocus: true, class: "form-control", placeholder: "email"
                .field.my-3
                  = f.password_field :password, class: "form-control", placeholder: "password"
                - if devise_mapping.rememberable?
                  .field
                    = f.check_box :remember_me
                    = f.label :recordarme, class:"subtitleSignin"
                .actions.text-center.subtitleSignin
                  = f.submit "Iniciar sesión", class: "btn btn-primary"
            .field.subtitleSignin
              = render "devise/shared/links"
