%h1 Rooms#index
%p Find me in app/views/rooms/index.html.haml
.container
  .row
    .col-6
      .row
        -# - @test = []
        -@available.each_with_index do |room,i|
          .col-12
            .name{id:"room#{i}"}
              =room.name
          .col-12
            .precio{id:"precio#{i}"}
              =room.base_price
              -# -@test << room.id
            %input{id:"#{i}", type: "checkbox"}
    .col-6
      .card
        .card-title
          busqueda
          =form_tag rooms_path, method: :get do
            .field
              = date_field_tag :fecha, class: "form-control"
            .field
              = date_field_tag :fecha_final, class: "form-control"
            .field
              = submit_tag :search
      .card
        .card-title
          .col#check_in_field
            %span
              fecha entrada
            %span
              200
          .col#check_out_field
            %span
              fecha salida
            %span
              200
          =form_tag new_reservation_path, method: :get do
            .field
              = date_field_tag :fecha, Date.today
            .field
              = date_field_tag :fecha_final,  Date.today
            .field
              = hidden_field_tag :aval, @test

      .card
        .card-title
          .col
            #list
              = hidden_field_tag :room, @test
              = hidden_field_tag :roomTwo, @test
              = hidden_field_tag :roomTree, @test
              = hidden_field_tag :roomFour, @test
      .card
        .card-title
          .col
            total
            %input{id: "total", type:"text", name:"total", size:"3"}
            = hidden_field_tag 'total', @test
          .col
            = submit_tag :continuar









