%h1 Reservations#new
%p cuartos a reservar
.container#reservations
.container
  .row
    .col-7
      .row
        -# - @test = []
        -@available.each_with_index do |room,i|
          .col.d-none{id:"id#{i}"}
            =room.id
          .col-12
            .row
              .col-3.titleRoom
                .name{id:"room#{i}"}
                  =room.name
              .col-9.subtitleRoom
                %p Lorem, ipsum dolor.
            .row
              .col.subtitleRoom2
                %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ea!
            .row
              .col.bg-contenido
                .name
                  = image_tag 'carousel1'
                  -# =image_tag url_for(room.images.first)
            .row.bg-contenido2.justify-content-between
              .col-2.l
                servicio 1
              .col-2.lv
                servicio 1
              .col-2.lv
                servicio 1
              .col-2.lv
                .precio{id:"precio#{i}"}
                  =room.base_price
                  -# -@test << room.id
              .col-2
                %input{id:"#{i}", type: "checkbox"}
    .col-3
      .card
        .card-body
          .titleRoom.ml-3.mt-2
            reserva
          =form_tag rooms_path, method: :get do
            .col
              .field.subtitleDate.mt-3.mr-2
                fecha de entrada
                = date_field_tag :fecha, class: "form-control"
              .field.subtitleDate
                fecha de salida
                = date_field_tag :fecha_final, class: "form-control"
              .field
                = submit_tag :consulta, class: 'btnSearch'
      .card
        .card-title.titleRoom.mb-4
          Recibo de reserva
        .card-title
          = form_for @reservation do |f|
            .field.subtitleDate
              =f.label "fecha de entrada"
            .field.subtitleDate
              =f.date_field :check_in, value: params[:fecha]
            .field.subtitleDate
              =f.label "fecha de salida"
            .field
              =f.date_field :check_out , value: params[:fecha_final]
              =f.hidden_field :stimated_cost, id: "stimated"
            = f.fields_for :reservations_rooms do |neste|
              .field
                = neste.hidden_field :room_id, id: "tokyo2"
            = f.fields_for :reservations_rooms do |neste|
              .field
                = neste.hidden_field :room_id, id: "deluxe2"
            = f.fields_for :reservations_rooms do |neste|
              .field
                = neste.hidden_field :room_id, id: "viena2"
            = f.fields_for :reservations_rooms do |neste|
              .field
                = neste.hidden_field :room_id, id: "caracas2"
                = hidden_field_tag :aval, @test
            .card
              .card-body
                .row.p-0
                  .col-12.p-0
                    #list.subtitleDate
                      %strong
                        Habitaciones:
            .card
              .card-body
                .row
                  .col-12.p-0
                    #taxes
                      %strong
                        Impuestos:
            .card
              .card-body
                .field.subtitleDate
                  %strong
                    total
                  %input{id: "total", type:"text", name:"total", size:"3"}
              = f.submit






