// Place all the styles related to the administrators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */
 @import "trix";
 @import "bootstrap";

 body {
  //  background: #f2f2f2;
   font-size: 16px;
   font-family: 'Ubuntu', sans-serif;
   height: 100vh;
 }

// .admin-padding-container{
  // margin-top: 100px;
  // margin-right: 310px;
// }

 :root {
  --colorBlue: #27273C;
  --colorRed: #BC082B;
  --colorWhite: #fff;
  --colorGray: #F8F7FB;
}
.hero {
  position: absolute;
  top: 50%;
  left: 43%;
  z-index: 3;
  color: #fff;
  text-align: center;
}
.over_navs{
  z-index: 100000000000;
}

.white{
  color:white !important;
}


.barra-lateral{
   background: var(--colorBlue);
   color: var(--colorWhite);
   min-width: 300px;
  //  max-width: 300px;
   height: 100%;
   padding: 0;
   position: fixed;
   z-index: 1;

}

.sidebar{
  position: fixed;
}

.barra-lateral a{
  color: var(--colorWhite);
}
.barra-lateral .logo{
  background: var(--colorWhite);
  margin-bottom: 2px;

}

.barra-lateral .logo img{

  font-size: 30px;
  padding: 25px 0;
  text-align: center;
  font-weight: 300;
  margin: 0;
  // background: var(--colorWhite);
 }

.barra-lateral .menu a {
  display: block;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.barra-lateral .menu a:hover {
  background: var(--colorRed);
  text-decoration: none;
  color: var(--colorWhite);
}

.barra-lateral .menu a i {
  margin-right: 10px;
  // font-weight: normal;
}

.barra-horizontal{
  background: var(--colorGray);
  min-height: 85px;
  // padding-top: 10px;
  max-width: 350px;

  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  // -webkit-transform: translate(-50%, -50%);
  z-index: 2;
  margin-left: 8%;
}
