/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require datatables
 *
 * For bootstrap support
 * require datatables/dataTables.bootstrap
 *
 *= require trix
 */
 @import "trix";
 @import "bootstrap";
 @import 'datatables';
:root {
  --colorBlue: #27273C;
  --colorRed: #BC082B;
  --colorWhite: #fff;
  --colorGray: #F8F7FB;
}



.btn-red{
   background: var(--colorRed);
   border-radius: 20%;
   color: var(--colorWhite);
}

.welcome{
   color: var(--colorRed);
   font-weight: bold;
   font-family: 'Ubuntu', sans-serif;
   padding-top: 56.54px;

}

.texto {
	height: 500px;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 48px;
}

.bg-red{
  background: var(--colorRed);
  width: 100%;
  height: 576px;

}

.texto2 {
  padding-top: 48,97px;
  font-family: 'Ubuntu', sans-serif;

}
.title{
  padding-top: 53,73px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  color: #000000;

}

.boton{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  font-family: Ubuntu;
  color: var(--colorWhite);
  text-decoration:none;
  background-color: #27273C;
  font-size: 18px;
  padding: 12px 40px;
}

.overlapped-buttom{
  position: absolute !important;
  margin-top: 110px;
}
.color-login{
  color: #9B041D !important;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}

.btn_azul{
  background-color: #27273C;
  border-radius: 50px;
  color: white;
}


.boton:hover{
  // opacity: 0.75;
  text-decoration:none;
  color: var(--colorWhite);
}

.m-infog{
  margin-top: 18px;
}

.infografia{
  padding-top: 50px;
  margin-top: 98px;
  margin-left: 17%;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 56px;
  line-height: 30px;
  color: var(--colorWhite);
  padding-bottom: 50px;
  // float: left;

}

.text-infog{
  padding-top: 47,36px;
  font-family: Ubuntu;
  font-weight: light;
  font-size: 16px;
  color: var(--colorWhite);
  float: left;
}

.btn-infog{
  width: 35%;
  margin-right : auto;
  margin-left: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  position: absolute;
  z-index: 1;
  margin-top: 5%;
}
@font-face {
  font-family: "guthen bloots";
  src: font-url('j.ttf');
}
.guthen{
  font-family: 'guthen bloots';
}

.titleServ{
  // font-weight: bold;
  font-size: 52px;
  color: var(--colorRed);
}

.btn-icono{

  width: 65%;
  margin-right : auto;
  margin-left: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  position: absolute;
  z-index: 1;
  margin-top: 20%;
}
.card-custom{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--colorGray);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 100%;
  height: auto;

}
.pos{
  position: relative;
}

.f-24{
  font-size:24px;
}

.f-12{
  font-size:12px;
  // margin-top: 20%;
}

.bg-blue{
  width: 100%;
  background: var(--colorBlue);
  height:280px;
}
.bg-serv{
  background-color: var(--colorWhite);
  width: 100%;
  height: 300px;
}
.bg-room{
  background-color: var(--colorWhite);
  height:576px;
  width: 100%;
}
.roomCustom{
  padding-top: 102,27px;
}

.botonSub{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 20px;
  line-height:32px;
  text-transform: capitalize ;
  text-align: center;
  font-family: Ubuntu;
  color: var(--colorWhite);
  text-decoration: none;
  background-color: var(--colorRed);
  width: 30%;
  margin-top: 4%;
}
.m-top{
  margin-top:5%;
}

.correo{
  padding-top: 50px;
  margin-top: 98px;
  // margin-left: 145px;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 56px;
  line-height: 30px;
  color: var(--colorWhite);
}

.termino{
  font-family: 'Ubuntu', sans-serif;
  color: var(--colorWhite);
}
.inp-check{
  float: right;
}
.botonSub:hover{
  // opacity: 0.75;
  text-decoration:none;
  color: var(--colorWhite);
}
.img-prop{
  transform: translateX(-250%);
}
 input::placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    color: grey !important;
  }

.nav-item a {
  text-decoration: none;
  color: #000;
  font-family: 'Ubuntu';
}
.card_color_smoke{
  background-color:#F9F9F9 !important;
  border:none;
}


.btn_reservation{
  background-color: #27273C !important;
  border-radius: 18px !important;
  margin: 0 5px;
  color: white !important;
}

.nav-pills .active{
  background-color:  rgb(64, 64, 102) !important;
  border-radius: 18px !important;
  color: white !important;
}
#form{
  padding-left: 25px;
  padding-right: 25px;
}



.card_rooms{
  background-color: #BC082B;
}

.lv {
  border-left: 1px solid var(--colorWhite);
  height: 25px;
}

.lv .likeRoom{
  display: block;
  float: right;
}

.lh{
  border-bottom: 1px solid var(--colorGray);
  width: 100%;
}

.subtitleR{
  color: var(--colorWhite);
  font-family: 'Ubuntu', sans-serif;
}

.margenTop{
  margin-top: 150px;
}

.margenCard{
  margin-top: 85px;
}

.bg-devise{
  background-image: url(image_path('hotel.jpeg'));
  background-repeat: no-repeat;
  width: 100% ;
  height: 100vh;
  background-size:100% 100%;
}

.bg-signin{
  background-image: url(image_path('bg.jpg'));
  background-repeat: no-repeat;
  width: 100% ;
  height: 100vh;
  background-size:100% 100%;

}

.final{
  color: var(--colorRed);
  font-family: 'Ubuntu' sans-serif;
  font-weight: bold;
}

.subtitleSignin{
  font-family: 'Ubuntu', sans-serif;
}

.active-black{
  color: black;
}

.active-white{
  color: white;
}

.active-link{
  color: red;
}


@import "datatables";
