// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require_tree .
// *= require_self
// *= require trix
// *
@import "trix";
@import "bootstrap";

:root {
  --colorBlue: #27273C;
  --colorRed: #BC082B;
  --colorWhite: #fff;
  --colorGray: #F8F7FB;
}


.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;

}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
width: 30px;
height: 30px;
text-align: center;
padding: 6px 0;
font-size: 12px;
line-height: 1.428571429;
border-radius: 15px;
}


.btn_rounded{
  border-radius: 50px !important;
  background-color: #0A8977;
  color: var(--colorWhite);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
}

.btn_rounded-disactive{

  border-radius: 50px !important;
  background-color: #DBDDDC;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
}

.subtileActive{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 21px;
}

.subtitleNonA{
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 21px;
}
