!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Booking
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Ubuntu", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.5.0/css/all.css", :integrity => "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", :rel => "stylesheet"}/


%body
  = render 'shared/first_nav'
  .sections
    %section#1
      .col-12.m-0.p-0
        = render 'shared/carousel'
      .col-12.buscar.py-3.border-top.border-bottom
        = render 'shared/searchDate'
    %section#2.mb-5
      .col-12.m-0.p-0
        = render 'shared/welcome.html.haml'
    %section#3.p-5
      .col-12.my-2
        = render 'shared/room.html.haml'
    %section.col-12.bg-red#4
      .row
        .col-7
          %h1.infografia
            Infografía
          .row.justify-content-center
            .col-8.text-left
              %p.text-infog Lorem ipseum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .col-8.text-left
              %p.text-infog Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .col-8.align-self-start
              %a.boton.btn-infog{href: "#"} ver más
        .col.mt-5
          .col.p-0.mt-5
            = render 'shared/carousel_infografia.html.haml'
    %section.col-12.p-0#5
      #servicios
        = render 'shared/servicio.html.haml'
    %section.bg-blue#6
      = render 'shared/newsletter.html.haml'
















