!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Booking
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Ubuntu", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.5.0/css/all.css", :integrity => "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", :rel => "stylesheet"}/

%body{"data-spy" => "scroll", "data-target" => "#fm-nav"}
  %nav.navbar.navbar-expand-sm.bg-light.d-flex.justify-content-between.fixed-top
    %a.px-2{class: "navbar-brand"}
      = image_tag 'Logo.svg', class:'d-inline_block align-block'
    .navbar-nav
      - if controller.action_name == "index"
        .nav-item.px-2
          %a.nav-link.nav-item{:href => "#nosotros"} Nosotros
        .nav-item.px-2
          %a.nav-link.nav-item{:href => "#habitaciones"} Habitaciones
        .nav-item.px-2
          %a.nav-link.nav-item{:href => "#servicios"} Servicios
        .nav-item.px-2
          %a.nav-link.nav-item{:href => "#experiencias"} Experiencias
        .nav-item.px-2
          %a.nav-link{:href => "#contactos"} Contactos
        .nav-item.px-2
        - if controller.action_name == "edit"
          %a.nav-link.color-login{"data-toggle"=>:dropdown} 
            = current_user.profile.name.capitalize
            = current_user.profile.last_name.capitalize
          .dropdown-menu.dropdown-menu-right
            .dropdown-item
              = link_to "perfil", new_user_session_path, method: "delete"
            .dropdown-item
              = link_to "logout", destroy_user_session_path, method: "delete"
        - else
          .nav-item.px-2
            %a.nav-link{:href => "users/sign_up"} Registrate
      - else
        .nav-item.px-2
          = link_to "Manuel Colorado", new_user_session_path, class: "nav-link"
          
            
= yield